
<div class="text-center large">

  <div class="col-md-12">
    <h1>User Profile</h1>
  </div>
  <div class="col-md-12">
    <h2>Hello user: <%= @user.screen_name %></h2>
  </div>
  <div class="col-md-12">
    Your Subscriptions: <% if @subscriptions.empty? %><span>NO Subscriptions </span><% end %>
  </div>

  <% @subscriptions.each do |sub| %>
    <div class="col-md-12">
      <%= link_to sub.name, sub %>
      <% if sub.primary == true %><span class="label label-primary">Primary Subscription</span>
      <% elsif sub.primary == false %><span class="label label-danger">Gift Subscription</span><% end %>
    </div>
  <% end %>
        
  <div class="col-md-12">
    ..................................................
  </div>

  <div class="col-md-12">
    <%= link_to "Start Travelling", new_subscription_path %>
  </div>

  <div class="col-md-12">
  </div>

</div>

