<div class="text-center large">

  <div class="col-md-12">
    <h1>Your Cart</h1>
  </div>

  <div class="col-md-12">
    <%= @cart_ids %>
  </div>

  <div class="col-md-12">

  </div>

  <div class="col-md-12">

  </div>

  <div class="col-md-12">

  </div>

</div>
