
<div class="text-center large">


  <div class="col-md-12">
    <%= link_to "Create Destination", new_destination_path, class: 'btn btn-success' %>
  </div>


<% @destinations.each do |dest| %>
    <div class="col-md-12">
      <%= dest.chronological_order %> - <%= link_to dest.name, dest %> - $<%= dest.individual_price %>
    </div>
  <% end %>


  <div class="col-md-12">
  </div>


  <div class="col-md-12">
  </div>


  <div class="col-md-12">
  </div>
  
</div>