

<div class="text-center">
  <%= form_tag plans_path do %>
     
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>

   <% end %>
</div>
